.site-footer {
  padding: 2rem 1.5rem 1.5rem 1.5rem;    
  background: #f0790d;
  position: absolute;
  bottom: 0;
  width: calc(100% - 3rem);
  left: 0;

  .container--lg {
      margin: 0 auto;
  }

  a {
    &:not(.button) {
      border-bottom: 1px solid #fff;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;

      &:hover,
      &:focus {
        opacity: .6;
      }
    }
  }

  &__info,
  &__social {
    font-size: 15px;
    color: #fff;
    line-height: 1.75;
    margin-bottom: 1.25em;
  }

  &__info {
    .site-footer__copyright,
    > a {
      margin: 0 10px 0.25em 0;
    }
  }

  &__social {
    a {
      margin: 0 20px 0 0;
    }

    .button {
      font-size: inherit;
      padding: 0.275em 0.5em 0.275em 0;
    }

    .icon {
      font-size: 18px;
    }
  }
  &__link {
    a {
      text-transform: capitalize;
    }
}

  .light-filter{    
        margin-top: -.25rem;
        height: 20px;
        width: 20px;
        filter: invert(86%) sepia(37%) saturate(1485%) hue-rotate(323deg) brightness(104%) contrast(101%);
    }
}

@media only screen and (min-width: 601px) {
  .site-footer {
    &__inside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0;
      margin-right: 0;
    }

    &__social {
      a {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__info, &__social {
      padding: 0 1.6rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .site-footer {
    &__inside {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    &__social {
      a {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 998px) {
  .site-footer {
      &__inside {
          margin-left: calc(3rem + 3vw);
          margin-right: calc(3rem + 3vw);
      }
  }
}

@media only screen and (min-width: 601px) {  
  .site-footer {
    padding: 2rem 0 1.5rem 0;
    width: 100%;
  }
}  

@media only screen and (min-width: 1105px) {
  .site-footer {
    .container--lg {
      margin: 0 auto;
      width: 998px
    }
  }
}
